.login-popup {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    pointer-events: all;
    transform: translateY(0);
    top: 6rem;
    right: 0;
    padding: 2rem 3rem;
    border-radius: 1rem;
    background-color: var(--white2);
    width: 25rem;
    box-shadow: var(--box-shadow);
    transition: visibility .2s ease, opacity .2s ease, transform .2s ease;
    z-index: 199;
    &__title {
        color: var(--main);
        font-size: var(--big);
        font-weight: var(--bold);
    }
    &__subtitle {
        margin: .5rem 0;
        font-size: var(--medium);
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        button {
            position: relative;
            margin: .5rem 0;
            padding: 1.5rem 2rem;
            border-radius: 1rem;
            border: none;
            cursor: pointer;
            background: none;
            font-size: var(--medium);
            text-align: left;
            color: var(--text);
            transition: padding-left .2s ease, background .2s;
            &::after {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                height: 100%;
                width: 2px;
                background-color: var(--main);
                transition: width .2s ease;
            }
            &:hover::after {
                width: 4px;
            }
            &:hover {
                padding-left: 3rem;
                background: var(--white-gradient);
            }
        }
    }
}

.fav-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    pointer-events: all;
    transform: translateY(0);
    top: 6rem;
    right: 0;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--white2);
    width: 25rem;
    box-shadow: var(--box-shadow);
    transition: visibility .2s ease, opacity .2s ease, transform .2s ease;
    z-index: 199;
    &__icon {
        font-size: var(--big);
    }
    &__text {
        font-size: var(--large);
        margin: 1rem 0 2rem 0;
    }
    &__button {
        position: relative;
        margin: .5rem 0;
        padding: 1.5rem 2rem;
        border-radius: 1rem;
        border: none;
        cursor: pointer;
        background: none;
        font-size: var(--medium);
        text-align: left;
        color: var(--text);
        transition: padding-left .2s ease, background .2s;
        &::after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 2px;
            background-color: var(--main);
            transition: width .2s ease;
        }
        &:hover::after {
            width: 4px;
        }
        &:hover {
            padding-left: 3rem;
            background: var(--white-gradient);
        }
    }
}

.cart-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    pointer-events: all;
    transform: translateY(0);
    top: 6rem;
    right: 0;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--white2);
    width: 25rem;
    box-shadow: var(--box-shadow);
    transition: visibility .2s ease, opacity .2s ease, transform .2s ease;
    z-index: 199;
    &__icon {
        font-size: var(--big);
    }
    &__text {
        font-size: var(--large);
        margin: 1rem 0 2rem 0;
    }
    &__button {
        position: relative;
        margin: .5rem 0;
        padding: 1.5rem 2rem;
        border-radius: 1rem;
        border: none;
        cursor: pointer;
        background: none;
        font-size: var(--medium);
        text-align: left;
        color: var(--text);
        transition: padding-left .2s ease, background .2s;
        &::after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 2px;
            background-color: var(--main);
            transition: width .2s ease;
        }
        &:hover::after {
            width: 4px;
        }
        &:hover {
            padding-left: 3rem;
            background: var(--white-gradient);
        }
    }
}

.toggle-popup {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}