[data-theme="dark"] {
    --white: #111111;
    --white2: rgb(20, 20, 20);
    --white3: rgb(50, 50, 50);
    --white4: rgb(80, 80, 80);
    --white-gradient: linear-gradient(90deg, #80dfec15 0%, #111111 27%);
    --black: rgb(255, 255, 255);
    --black2: rgb(240, 240, 240);
    --black3: rgb(200, 200, 200);
    --black4: rgb(170, 170, 170);
    --text-color: rgb(219, 219, 219);
}