:root {
    // colors
    --main: #C33C54;
    --main-hover: #00aeff;
    --second: #254E70;
    --third: #37718E;
    --fourth: #8EE3EF;
    // white colors
    --white: rgb(255, 255, 255);
    --white2: rgb(230, 230, 230);
    --white3: rgb(200, 200, 200);
    --white4: rgb(170, 170, 170);
    // black colors
    --black: #111111;
    --black2: rgb(20, 20, 20);
    --black3: rgb(50, 50, 50);
    --black4: rgb(80, 80, 80);
    // font weight
    --bold: 800;
    --normal: 600;
    // font sizes
    --biggest: 3.4rem;
    --big: 2.5rem;
    --large: 2rem;
    --medium: 1.6rem;
    --small: 1.3rem;
    // text
    --text-color: rgb(50, 50, 50);
    --body-font: 'Inter', sans-serif;
}