:root {
    // colors
    --main: #79ddeb;
    --main-hover: #8EE3EF;
    // white colors
    --white: #0a0c11;
    --white2: #0e1018;
    --white3: #131620;
    --white-gradient: linear-gradient(90deg, #80dfec48 0%, #0e1018 27%);
    --card-white-gradient: linear-gradient(90deg, #80dfec48 0%, #131620 27%);
    // font weight
    --bold: 800;
    --normal: 600;
    // font sizes
    --header: 3.5rem;
    --biggest: 2.5rem;
    --big: 2.5rem;
    --large: 1.8rem;
    --medium: 1.6rem;
    --small: 1.3rem;
    // text
    --text-color: white;
    --body-font: 'Inter', sans-serif;
}

@media screen and (min-width: 500px) {
     :root {
        --header: 4.5rem;
        --biggest: 3.4rem;
    }
}