:root {
    // colors
    --main: rgb(21, 198, 204);
    --main-hover: rgb(29, 210, 216);
    // white colors
    --white: #0a0c11;
    --white2: #0e1018;
    --white3: #131620;
    --white4: #24293a;
    --white5: #2c3147;
    --white-opacity: #1c2133f8;
    --grey: rgb(179, 179, 179);
    --grey2: rgb(228, 228, 228);
    --red: rgb(206, 0, 0);
    --red2: rgb(255, 0, 0);
    --white-gradient: linear-gradient(90deg, rgba(2, 247, 255, 0.212) 0%, #0e1018 27%);
    --card-white-gradient: linear-gradient(90deg, rgba(2, 247, 255, 0.212) 0%, #131620 27%);
    // font weight
    --bold: 800;
    --normal: 600;
    // font sizes
    --header: 3.5rem;
    --biggest: 2.5rem;
    --big: 2.5rem;
    --large: 1.8rem;
    --medium: 1.6rem;
    --small: 1.3rem;
    // text
    --text-color: white;
    --body-font: 'Inter', sans-serif;
}

@media screen and (min-width: 500px) {
     :root {
        --header: 4.5rem;
        --biggest: 3.4rem;
    }
}