.sneakers-area {
    &__modules {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;
    }
}

@media screen and (max-width: 1500px) {
    .sneakers-area {
        &__modules {
            grid-column: 1;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }
    }
}

@media screen and (max-width: 1250px) {
    .sneakers-area {
        &__modules {
            grid-column: 1;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
    }
}

@media screen and (max-width: 970px) {
    .sneakers-area {
        &__modules {
            grid-column: 1;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}