.account-nav {
    position: fixed;
    display: flex;
    align-items: center;
    height: 8rem;
    right: 0;
    top: 0;
    background-color: var(--white);
    width: 100%;
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(10px);
    transition: height .2s ease;
    z-index: 199;
    &__modules {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--container {
            display: flex;
            align-items: center;
            position: relative;
        }
        .mobile-nav-logo {
            width: 15rem;
            transition: width .2s ease;
        }
        &--link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            margin-left: 2rem;
            cursor: pointer;
            &:hover {
                background-color: var(--white3);
            }
            .user-icon,
            .cart-icon,
            .heart-icon {
                font-size: var(--large);
            }
        }
    }
    &__menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        cursor: pointer;
        background: none;
        border: none;
        &:hover {
            background: var(--white3);
        }
        i {
            color: var(--text-color);
            font-size: var(--big);
        }
    }
}

.main-logo {
    width: 12rem;
}

@media screen and (max-width: 630px) {
    .account-nav {
        &__modules {
            justify-content: flex-end;
        }
    }
    .mobile-nav-logo {
        display: none;
    }
}