.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    &::after {
        position: absolute;
        content: '';
        background-image: url('https://s1.q4cdn.com/806093406/files/img/fpo/investors5.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        z-index: -1;
        filter: grayscale(0.8) brightness(0.7);
    }
    &__background {
        position: absolute;
        line-height: 0;
        width: 100%;
        bottom: 0;
        left: 0;
        pointer-events: none;
    }
    &__modules {
        &--content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .typing-heading {
                font-size: var(--biggest);
                color: white;
                margin-bottom: 1rem;
                font-weight: var(--bold);
            }
            .subtitle {
                font-size: var(--biggest);
                color: white;
                margin-bottom: .1rem;
                font-weight: var(--bold);
                span {
                    color: var(--main);
                }
            }
            button {
                margin-top: 3rem;
                padding: 1.5rem 3rem;
                font-size: var(--large);
                background: var(--main);
                border-radius: 1rem;
                border: none;
                color: white;
                cursor: pointer;
                transition: transform .2s ease;
                &:hover {
                    background: var(--main-hover);
                }
                &:active {
                    transform: scale(0.96);
                }
            }
        }
    }
}