.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/src/img/splashpaint.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    width: 100%;
    height: 100vh;
    &__modules {
        &--content {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                font-size: var(--header);
                color: white;
                margin-bottom: 1rem;
            }
            h3 {
                font-size: var(--biggest);
                color: white;
                margin-bottom: .1rem;
            }
        }
    }
}