    .nav {
        position: fixed;
        width: 40rem;
        height: 100vh;
        background-color: var(--white2);
        transform: translateX(-100%);
        transition: transform .2s ease;
        box-shadow: var(--box-shadow);
        overflow-y: scroll;
        z-index: 200;
        top: 0;
        left: 0;
        &::-webkit-scrollbar-thumb {
            background-color: var(--white3);
            border-radius: 20rem;
            border: 1px solid var(--white4);
        }
        &::-webkit-scrollbar {
            background-color: var(--white);
            width: 1rem;
        }
        &__modules {
            padding: 2rem 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &--header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 3rem;
                .hide-nav-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    cursor: pointer;
                    background: none;
                    border: none;
                    &:hover {
                        background: var(--white3);
                    }
                    i {
                        color: var(--black2);
                        font-size: var(--big);
                    }
                }
            }
            .accordion {
                margin: 2rem 0 2rem 0;
                &__header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    cursor: pointer;
                    border: none;
                    color: var(--text);
                    background: var(--white3);
                    padding: 1rem 2rem;
                    border-radius: 1rem;
                    margin-bottom: 1rem;
                    &--title {
                        font-size: var(--large);
                    }
                    &--arrow {
                        font-size: var(--big);
                        transition: transform .2s ease;
                        transform: rotate(180deg);
                    }
                }
                &__content {
                    display: flex;
                    flex-direction: column;
                    transition: max-height .2s ease;
                    overflow: hidden;
                    .nav__modules--link {
                        position: relative;
                        color: var(--black2);
                        font-size: var(--medium);
                        padding: 2rem 0;
                        padding-left: 2rem;
                        text-decoration: none;
                        cursor: pointer;
                        transition: padding-left .2s ease, background .2s;
                        &::after {
                            position: absolute;
                            content: '';
                            left: 0;
                            bottom: 0;
                            background: var(--main);
                            ;
                            width: 2px;
                            height: 100%;
                            transition: width .2s ease;
                        }
                        &:hover::after {
                            width: 4px;
                        }
                        &:hover {
                            padding-left: 3rem;
                            background: var(--white-gradient);
                        }
                    }
                }
            }
            &--buttons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 4rem 0 2rem 0;
                button {
                    border: none;
                    background: none;
                    cursor: pointer;
                }
            }
        }
    }
    
    .opened-nav {
        transform: translateX(0);
    }
    
    .background-click-area {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.164);
        z-index: 150;
        top: 0;
        left: 0;
    }
    
    @media screen and (max-width: 550px) {
        .nav {
            width: 100%;
        }
    }