@import './modules/variables';
@import './modules/space-classes';
@import './modules/scrollbar';
@import './modules/nav-popups';
@import './modules/scroll-button';
@import './layout/nav';
@import './layout/header';
@import './layout/account-nav';
@import './layout/propose-section';
@import './layout/advertisement';
@import './layout/newsletter';
@import './layout/contact';
@import './layout/footer';
@import './layout/sneakers/sneakers-area';
@import './layout/sneakers/select-menu';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: var(--white2);
    font-family: var(--body-font);
    color: var(--text-color);
}