@import './modules/variables';
@import './modules/space-classes';
@import './modules/theme';
@import './modules/scrollbar';
@import './modules/nav-popups';
@import './layout/nav';
@import './layout/header';
@import './layout/account-nav';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--white2);
    font-family: var(--body-font);
    color: var(--text-color);
}